body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray !important;
}
.container{
  border-radius: 3px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  border-radius: 3px;
  color: white  !important;
}
.table {
  table-layout: auto !important;
  text-align: center;
  }
  thead{
    background-color: rgb(18, 0, 35);
    color: white;
    border-color: rgb(25, 2, 47) !important;
  }
.wrapper{
    overflow: auto;
}
#pageDropDown{
  display: none;
}


